.OpenFile{
    -fx-background-image: url('../gambar/openvideo.png');
    -fx-background-size: 20px 20px ;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.button{
    -fx-background-color: transparent;
}